.registro{
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.formlogin h2{
    text-align: center;
    font-size: 2em;
}
.formlogin h3{
    text-align: center;
    color: #A5A5A5;
    
}
.registro .formlogin{
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
  
}

.formlogin input{
    margin: 0.2rem;
    padding: 12px 32px;
    text-align: left;
    transition: 0.5s ease;
    width:80%;
    color: black;
    background-color: #e9e9e9;
  
}



.formlogin button{
    margin: 0.5rem;
    background-color: black; 
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    align-self: center;
    text-decoration: none;
    transition: 0.5s ease;
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
  
}
.registro button:active{
    transform: scale(90%); 
    background-color: var(--color2);
 }
 .registro button:disabled{
    
    background-color: var(--color3);
 }