.container{
    margin: 1.5rem;
    padding: 1rem;
    background-color:rgb(255, 209, 6);
    border-radius: 10px;
    box-shadow: 5px 5px   black;
   
}
.container h1{
 
    line-height: 1;
    font-size: 2rem;
    
}

.container p{
 
    line-height: 1;
}