.link{
  text-decoration: none;
  transition: 1s ease-in-out;
}
.link:hover{
  transform: scale(105%);
}

.container{
    
    background-color:rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    
}
.container  h3{
    
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #17181b;
    font-size: 2rem;
    text-align: center;
    padding-top: 0rem;
    line-height: 0.5rem;
    
  }
  .container  p{
    text-align: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 0.5rem;
    color: #17181b;
    font-size: 1rem;
   
    
  }
  .container img{
    height: 250px;
    object-fit: cover;
  

  } 
  
.container button{
  margin-top:1rem;
  width: 30%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  