.about{

 

  margin-top: 5%;

}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
.containerTexto{
  margin-left: 5%;
  width: 50%;
}

.img{
  border-end-start-radius: 999px;
  height: 100%;
 
 
 
}
.button {
  background-color: var(--color2);
  border: solid 1px black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 999px; 
  box-shadow: 5px 5px   black;
  
  transition: 1s ease;
  animation: float 1s infinite ease-in-out alternate;

}


.button:hover {
  background-color: rgb(255, 189, 6);
  color: rgb(255, 255, 255);
}

.link {
  color: #02040F;
  text-decoration: none;
  cursor: pointer;
}



@keyframes float {
  from { transform: translateY(4px);}
  to { transform: translateY(0px);}
} 

@keyframes rotate {
  from { transform: rotate(-2deg);}
  to { transform: rotate(0px);}
} 
