

.link {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 1em;
    text-decoration: none;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}