.container {
  margin: 1rem;  
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  
}

.container h2 {
    color: var(--color1);
    font-size: 1.5rem;
  
}
.container button{
    margin: 0.5rem;
    background-color: var(--color2); 
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s ease;
  
}
.container button:active{
    transform: scale(90%); 
    background-color: var(--color2);
 }