.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: black;
  gap: 1rem;
  
}
.cabecalho .navbar{
  display: flex;
  flex-direction: row;
  font-size: 1px;
 
 
}
.logo {
  display: flex;
  font-size: 1rem;
  color: var(--color2);
}
.logo span{
  color:white;
  
}

