:root {
    --color1: #020100;
	--color2: rgb(6, 255, 230);
	--color3: rgb(205, 237, 253);
	--color4: rgb(60, 5, 5);


}

body {
    margin: 0;
	padding: 0;
	border: 0;
}

html{
	scroll-behavior: smooth;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
   }